@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}


.header, .footer {
    background-color: #1F2937;
}

.header {
    padding-left: 100px;
    padding-right: 100px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
    padding: 20px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 350;
    cursor: pointer;
}



.primary {
    display: flex;
    flex-wrap: 1;
    gap: 10px;
  
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 350px;
    height: fit-content;
 
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 350;
    width: 400px;
}


.pic {
    width: 500px;
    margin-left: auto;
    margin-bottom: 150px;
    border-radius: 2px;;
}

button {
    display: flex;
    height: 30px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.try {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.second {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 100px;
}


.title2 {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    align-self: center;
    margin-top: 30px;
    justify-content: center;
    flex: 1;
    margin-bottom: 70px;
}

.texts {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}
.subtext {
    width: 200px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}


.image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 14px;
    border-width: 3px;
    border-style: solid;
    border-color: #3882F6;
}

.third {
    background-color: #E5E7EB ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 80px;
    height: 300px;
    text-align:start;
    gap: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}


.author {
    font-size: 20px;
    font-weight: bold;
    margin-left: 400px;
}


.fourth {
    background-color: #3882F6;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 190px;
    margin-right: 190px;
    padding: 50px 80px;
    gap: 5px;
    border-radius: 6px;
    flex: 1;
    margin-bottom: 120px;
}

.b1 {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  margin-top: 2px;
}

.title3 {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 900;
    gap: 10px;
    margin-right: 10px;

}

.text1 {
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
}

.footer {
    color: #F9FAF8;
    padding: 50px;
    font-size: 14px;
    text-align: center;




}














